{% extends "side_base.html" %}
{% load i18n display %}

{% block "head" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bug.css" />
{% endblock %}

{% block "actions" %}
  {% if user.is_staff or user == object.reporter %}
    <li><a href="">Edit &rarr;</a></li>
    <li><a href="">Delete &rarr;</a></li>
  {% endif %}
{% endblock %}

{% block "sidebar" %}
 {% if object.attachments.all %}
   <h4>Attachments</h4>
   <ul>
   {% for file in object.attachments.all %}
     <li><a href="">{{ file }}</a></li>
   {% endfor %}
   </ul>
 {% endif %}

 {% if object.duplicates.all %}
   <h4>{% trans "Duplicate Bugs" %}</h4>
   <ul>
     {% for dupe in object.duplicates.all %}
       <li><a href="{{ dupe.get_absolute_url }}">{{ dupe }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}

 {% if object.depends_on.all %}
   <h4>{% trans "Blocked Bugs" %}</h4>
   <ul>
     {% for dep in object.depends_on.all %}
       <li><a href="{{ dep.get_absolute_url }}">{{ dep }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}

 {% if object.subscribers.all %}
   <h4>{% trans "Subscribers" %}</h4>
   <ul>
     {% for cc in object.subscribers.all %}
       <li><a href="{{ cc.get_absolute_url }}">{{ cc }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}
 {% if object.subscribers.all %}
   <h4>{% trans "See Also" %}</h4>
   <ul>
     {% for u in object.urls.all %}
       <li class="url url-{{ u.type }}"><a href="{{ u.value }}">{{ u.value }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}

{% endblock %}

{% block "content" %}
  <div id="bug">

{% if object.duplicate.all %}
  {% with object.duplicate.all.0 as item %}
    <div id="bug-duplicate">Duplicate of <a href="{{ item.get_absolute_url }}">{{ item }}</a></div>
  {% endwith %}
{% endif %}

<h2>{% block "title" %}{{ object.title }}{% endblock %}</h2>

<div class="comment">
  <div class="details">
   {% if object.blocks.opened %}
     <div class="status uuid-blocked" title="Blocked By: {{ object.blocks.opened|join:'\n' }}">Blocked</div>
   {% else %}
     <div class="status">{{ object.status }}</div>
   {% endif %}
   {% if not object.is_open %}
     <div class="status">{{ object.resolution }}</div>
   {% else %}
     <div class="status">{{ object.severity }}</div>
   {% endif %}
   <div class="title">
     <a href="{{ object.reporter.get_absolute_url }}">{{ object.reporter }}</a> created {{ object.created|timetag }}:
   </div>
    <div class="index"><a href="{{ object.get_absolute_url }}">Bug #{{ object.pk }}</a></div>
  </div>
  <div class="body">
  <div class="text"><p>{{ object.comments.first.content }}</p></div>
  </div>
  <div class="footer">
   <div class="status">{{ object.hardware }}</div>
   <div class="status">{{ object.platform }}</div>
   <div class="status">{{ object.version }}</div>
   {% for tag in object.tags.all %}
   <div class="status">#{{ tag }}</div>
   {% endfor %}
  </div>
  <!--<div class="footer">{{ object.tags.all|join:', ' }}</div>-->
</div>

{% for item in object.comments.rest %}
<div class="comment">
  <div class="details">
   <div class="title">
     <a href="{{ item.who.get_absolute_url }}" class="sprite person">{{ item.who }}</a> wrote {{ item.when|timetag }}:
   </div>
    <div class="index"><a href="{% url 'comment' object.pk item.pk %}"> #{{ forloop.counter0|add }}</a></div>
  </div>
  <div class="body">
    <div class="text"><p>{{ item.content }}</p></div>
  </div>
</div>
{% endfor %}

<!--
{% for item in object.activity.all %}
  <div class="comment">
    <div class="details">
      <a href="{ url 'person' %}" class="sprite person">{{ item.who }}</a>
      <span title="2013-10-27 02:39:29 EDT">on {{ item.when }}</span>
    </div>
    <div class="activity">
      <div class="label">{{ item.fieldid }}: {{ item.pk }})</div>
      <div class="summary">
        <p> - {{ item.removed }}</p>
        <p> + {{ item.added }}</p>
      </div>
    </div>
    <div class="footer"><a href="">Something</a></div>
  </div>
{% endfor %}
-->

<!--
<div class="comment">
  <div class="body">
    <div class="text"><p>This seems to be some limitation in the underlying font
subsystem.  I can't see them either.  (And I don't seem to
render ru_RU chars correctly either...)</p></div>
  </div>
  <div class="footer"><a href="">Something</a></div>
</div>
-->
<!--
    
{ get_comment_count for feedback as comment_count %}
{ get_comment_list for feedback as comment_list %}

<h2>Comments ({{ comment_count }})</h2>

{% if comment_list %}

<hr />

{% for comment in comment_list %}
        <div class="message{% if comment.reporter.is_staff %} staff{% endif %}">
            <a name="{{ message.id }}"></a>
            <div class="content">
                <div class="avatar">
                    { gravatar comment.reporter.reportername 40 %}
                </div>
                {% if comment.reporter.is_staff %}
                    <div class="staff">
                        Staff
                    </div>
                {% endif %}
                <div class="message-content">
                    <div class="details">From: <strong>{% ifequal comment.reporter user %}you{% else %}<a href="{{ comment.reporter.get_absolute_url }}">{{ comment.reporter }}</a>{% endifequal %}</strong> on {{ comment.submit_date|date:"M d Y" }} at {{ comment.submit_date|date:"fA" }}</div>
                        <p>{{ comment.comment|urlize|linebreaksbr }}</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
{% endfor %}

{% else %}
    <p>No one has commented. Have your say.</p>
{% endif %}

{% if user.is_authenticated %}
<h2>Leave a comment</h2>
{ get_comment_form for feedback as form %}
    <form action="{ comment_form_target %}" method="POST"> 
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
    {{ form.comment }} 
    {{ form.honeypot }} 
    {{ form.content_type }} 
    {{ form.object_pk }} 
    {{ form.timestamp }} 
    {{ form.security_hash }}
    <br /><input type="submit" value="Post comment" id="id_submit" />
</form> 
 {% endif %}
-->

</div>
{% endblock %}
