{% extends "side_base.html" %}
{% load i18n %}

{% block "title" %}Report{% endblock %}

{% block "content" %}
<form action="" method="post">
{% csrf_token %}
<table>
{% for field in form %}
    {% include "includes/fields.html" %}
{% endfor %}
    <tr>
        <td></td>
        <td><br /><input type="submit" value="{% trans "Save" %}" /></td>
    </tr>

</table>
</form>
{% endblock %}
