{% extends "list.html" %}
{% load i18n display tagcss highlight %}

{% block "listtitle" %}Bugs for {{ product }}{% endblock %}

{% block "actions" %}
  <li><a href="{{ report_url }}">{% trans "Report Bug" %}</a></li>
{% endblock %}

{% block "header" %}
  <tr id="sorter">
    <th><a href="">Score</a></th>
    <th><a href="">Type</a></th>
    <th><a href="">Name</a> | <a href="">Status</a> | <a href="">Last Modified</a></th>
  </tr>
{% endblock %}

{% block "item" %}
  <tr>
    <td class="votes"><div>{{ result.scor|default:0 }}</div></td>
    <td class="status"><span class="bug-type {{ item.severity.value|tagstyle }}">{{ item.severity }}</span></td>
    <td class="details">
      <h3>
        <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
        <span class="bug-status {{ item.status.value|tagstyle }}">{{ item.status }}</span>
      </h3>
      <p>
        <span class="bug-user">
        {% trans "Submitted by:" %}
        <a href="{{ item.reporter.get_absolute_url }}" title="View profile">{{ item.reporter }}</a>
        </span>
        <span class="bug-date">on {{ item.created|timetag }}</span>
      </p>
    </td>
    <!--<td class="votes"><div class="{{ item.status.value|tagstyle }}">{{ item.status }}</div></td>-->
    {% if item.private %}
        <td class="bug-private">PRIVATE</td>
    {% endif %}
  </tr>
  {% if result.get_stored_fields %}
  <!--Use in find a bug report <tr>
    <td class="content" colspan="5">{% highlight result.get_stored_fields.text with query max_length 100 %}</td>
  </tr>-->
  {% endif %}
{% endblock %}

{% block "noitems" %}
    <p>No-one has contributed any bugs yet. Be the first and <a href="{{ report_url }}">report a bug</a> now!</p> 
{% endblock %}
