{% extends "base.html" %}

{% load i18n highlight display %}

{% block "fullpage" %}

  {% if not title %}
    <h1>{% block "title" %}{% trans "Report New Problem" %}{% endblock %}</h1>
    <div class="comment">
     <form method="post">
      {% csrf_token %}
      <div class="existing">
        {% trans "Please describe your problem in a few words." %}<br/>
        <input type="text" name="title" placeholder="Report Here"/>
        <input type="hidden" name="search" value="true"/>
      </div>
      <input type="submit" value=">" class="new"/>
     </form>
    </div>
  {% else %}
    <h1>{% trans "Choose Existing Bug or Make a New One" %}</h1>

    {% for item in items %}
      <div class="comment">
       <form method="post">
        <div class="details">
          <div class="status">None</div>
          <div class="title">{{ item.title }}</div>
          <div class="index">Bug #{{ object.pk }}</div>
        </div>
        <div class="existing">
          {% highlight item.get_stored_fields.text with title max_length 300 %}
        </div>
        <input type="submit" value=">"/>
       </form>
      </div>
    {% endfor %}

    <div class="comment">
     <form method="post">
      {% csrf_token %}
      <div class="details">{{ form.title|placeholder:_("Bug Title") }}</div>
      {% if not request.is_authenticated %}
        <div class="details">{{ form.reporter|placeholder:_("Your Email Address") }}</div>
      {% endif %}
      {{ form.comment|placeholder:_("Bug Comment - Full Report Details") }}
      <input type="submit" value=">" class="new"/>
     </form>
     {% for name, errors in form.errors.items %}
       <div class="details"><div class="status">{{ name }}</div><div class="title">{{ errors|join:', ' }}</div></div>
     {% endfor %}
     {% if form.non_field_errors %}
       <div class="details"><div class="title">{{ form.non_field_errors }}</div></div>
     {% endif %}
    </div>
  {% endif %}
{% endblock %}
