{% extends "side_base.html" %}
{% load i18n display tagcss %}

{% block "actions" %}
  {% if not object|is_subscribed:user %}
    <li><a href="">Subscribe</a></li>
  {% endif %}
  {% if user.is_staff or user == object.reporter %}
    <li><a href="">Resolve &rarr;</a></li>
    <li><a href="">Tested &rarr;</a></li>
    <li><a href="">Blocked &rarr;</a></li>
  {% endif %}
{% endblock %}

{% block "sidebar" %}
 {% if object.attachments.all %}
   <h4>Attachments</h4>
   <ul>
   {% for file in object.attachments.all %}
     <li class="file">
       <img src="{{ file.icon_url }}" alt="{{ file.mimetype }}"/>
       <a href="{{ file.get_absolute_url }}">{{ file }}</a>
     </li>
     <li class="file">
       <img src="{{ file.icon_url }}" alt="{{ file.mimetype }}"/>
       <a href="{{ file.get_absolute_url }}">{{ file }}</a>
     </li>
     <li class="file">
       <img src="{{ file.icon_url }}" alt="{{ file.mimetype }}"/>
       <a href="{{ file.get_absolute_url }}">{{ file }}</a>
     </li>
   {% endfor %}
   </ul>
 {% endif %}

 {% if object.duplicates.all %}
   <h4>{% trans "Duplicate Bugs" %}</h4>
   <ul>
     {% for dupe in object.duplicates.all %}
       <li><a href="{{ dupe.get_absolute_url }}">{{ dupe }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}

 {% if object.depends_on.all %}
   <h4>{% trans "Blocked Bugs" %}</h4>
   <ul>
     {% for dep in object.depends_on.all %}
       <li><a href="{{ dep.get_absolute_url }}">{{ dep }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}

 {% if object.subscribers.all %}
   <h4>{% trans "Subscribers" %}</h4>
   <ul>
     {% for cc in object.subscribers.all %}
       <li><a href="{{ cc.get_absolute_url }}">{{ cc }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}
 {% if object.subscribers.all %}
   <h4>{% trans "See Also" %}</h4>
   <ul>
     {% for u in object.urls.all %}
       <li class="url url-{{ u.type }}"><a href="{{ u.value }}">{{ u.value }}</a></li>
     {% endfor %}
   </ul>
 {% endif %}

{% endblock %}

{% block "content" %}
  <div id="bug">

<h2>{% block "title" %}{{ object.title }}{% endblock %}</h2>

<div class="comment">
{% if object.duplicate.all %}
  {% with object.duplicate.all.0 as item %}
    <div id="duplicate">Duplicate of <a href="{{ item.get_absolute_url }}">{{ item }}</a></div>
  {% endwith %}
{% endif %}
  <div class="details">
   {% if object.blocks.opened %}
     <div class="status uuid-blocked" title="Blocked By: {{ object.blocks.opened|join:'\n' }}">Blocked</div>
   {% else %}
     <div class="status {{ object.status.value|tagstyle }}">{{ object.status }}</div>
   {% endif %}
   {% if not object.is_open %}
     <div class="status {{ object.resolution.value|tagstyle }}">{{ object.resolution }}</div>
   {% else %}
     <div class="status {{ object.severity.value|tagstyle }}">{{ object.severity }}</div>
   {% endif %}
   <div class="title">
     <a href="{{ object.reporter.get_absolute_url }}">{{ object.reporter }}</a> created {{ object.created|timetag }}:
   </div>
    <div class="index">Bug #{{ object.pk }}</div>
  </div>
  <div class="body">
  <div class="text"><p>{{ object.comments.first.content }}</p></div>
  </div>
  <div class="footer">
   <div class="status">{{ object.hardware }}</div>
   <div class="status">{{ object.platform }}</div>
   <div class="status">{{ object.version }}</div>
   {% for tag in object.tags.all %}
   <div class="status">#{{ tag }}</div>
   {% endfor %}
  </div>
  <!--<div class="footer">{{ object.tags.all|join:', ' }}</div>-->
</div>

{% for item in object.comments.rest %}
<div class="comment">
  <div class="details">
   <div class="title">
     <a href="{{ item.who.get_absolute_url }}" class="sprite person">{{ item.who }}</a> wrote {{ item.when|timetag }}:
   </div>
    <div class="index"><a href="{% url 'comment' object.pk item.pk %}"> #{{ forloop.counter0|add }}</a></div>
  </div>
  <div class="body">
    <div class="text"><p>{{ item.content }}</p></div>
  </div>
</div>
{% endfor %}

{% if user.is_authenticated %}
  <form action="" method="POST">
    {% csrf_token %}
    <div class="comment">
     <div class="details">
      <div class="title">{% trans "Add a New Comment:" %}</div>
     </div>
     <div class="body">
       <textarea name="content"></textarea>
     </div>
     <div class="footer"><input type="submit" value="Send"/></div>
   </div>
  </form> 
{% endif %}

</div>
{% endblock %}
