{% extends "side_base.html" %}
{% load i18n display %}

{% block "head" %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bug.css" />
{% endblock %}

{% block "actions" %}
  {% if user.is_staff or user == object.who %}
    <li><a href="">Edit &rarr;</a></li>
    <li><a href="">Delete &rarr;</a></li>
  {% endif %}
{% endblock %}

{% block "sidebar" %}
<!--TODO Add attachment, actions and other things here for this comment. -->
{% endblock %}

{% block "title" %}Comment #{{ object.pk }} for Bug #{{ object.bug.pk }}{% endblock %}

{% block "content" %}
  <div id="bug">

    <h2><a href="{{ item.who.get_absolute_url }}" class="sprite person">{{ object.who }}</a> commented {{ object.when|timetag }}</h2>

<div class="comment">
  <div class="details">
   <div class="title">Comment for: {{ object.bug.title }}</div>
   <div class="index"><a href="{{ object.bug.get_absolute_url }}">Bug #{{ object.pk }}</a></div>
  </div>
  <div class="body">
    <div class="text"><p>{{ object.content }}</p></div>
  </div>
</div>

  </div>
{% endblock %}
