{% extends "base.html" %}
{% load i18n display tagcss highlight %}

{% block "listtitle" %}Report Bug for {{ product }}{% endblock %}

{% block "actions" %}
  <!--<li><a href="{{ report_url }}">{% trans "Report Bug" %}</a></li>-->
{% endblock %}

{% block "content" %}

    <table class="list" id="bug">
<tr>
  <th><h1>What is wrong:</h1></th>
</tr>
<tr>
  <td><input name="title" placeholder="Bug Description" value="{{ query }}"/></td>
</tr>
    {% for result in items %}
  <tr>
    <td class="details">
      <h3><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
    </td>
  </tr>
  {% if result.get_stored_fields %}
  <tr>
    <td class="content" colspan="5">{% highlight result.get_stored_fields.text with query max_length 100 %}</td>
  </tr>
  {% endif %}
 {% endfor %}

  <tr>
    <td class="details"><input name="title" value="{{ title }}"/></td>
    <td class="content" colspan="5"><textarea name="description" value="" placeholder="Bug Details"/></td>
    <td class="content" colspan="5"><input type="submit" value="New Bug"></td>
  </tr>


</table>
{% endblock %}

