{% extends "list.html" %}
{% load i18n %}

{% block "retitle" %}<a> - </a><a>{% trans "Select Component" %}</a>{% endblock %}

{% block "navigation" %}
  <li><a href="{% url 'bugs' product.extra.slug %}">{% trans "All" %}</a></li>
{% endblock %}

{% block "content" %}

<h2>{{ product.title }} Components</h2>

<div id="gallery">
  {% for collection in object_list %}
    <div class="galleryitem">
      <a class="link" href="{{ collection.get_absolute_url }}">
        <img src="{{ collection.extra.url }}" title="{{ collection }}"/>
      </a>
      <p><a href="{{ collection.get_absolute_url }}">{{ collection }}</a></p>
    </div>
  {% endfor %}
</div>

{% endblock %}
