{% extends "list.html" %}
{% load i18n pagination_tags %}

{% block "retitle" %}<a> - </a><a>{% trans "Select Project" %}</a>{% endblock %}

{% block "content" %}

{% autopaginate object_list 8 as items %}

<h2>{% block "title" %}
  {% if category %}
    {{ category }} {% trans "Projects" %}
  {% else %}
    {% trans "Available Projects" %}
  {% endif %}
{% endblock %}</h2>

<div id="gallery">
  {% for result in items %}
   {% with result.object as product %}
    {% if product %}
    <div class="galleryitem" title="{{ product.description }}">
      <a class="link" href="{{ product.get_absolute_url }}">
        <img src="{{ product.extra.url }}"/>
      </a>
      <p><a href="{{ product.get_absolute_url }}">{{ product }}</a></p>
    </div>
    {% endif %}
   {% endwith %}
  {% endfor %}
</div>

  {% paginate %}
{% endblock %}
