.galleryitem {
  display: inline-block;
  border: solid #cce 2px;
  margin: 4px;
  padding: 0px;
  min-width: 150px;
  min-height: 150px;
  text-align: center;
  vertical-align: middle;
  margin: 5px 4px 25px 4px;
  border-radius: 10px;
}
.galleryitem:hover {
  background-color: #eef;
}
.galleryitem a.link img,
.bioitem a.link img {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  display: inline-block;
}
.galleryitem a.link {
  min-width: 150px;
  min-height: 150px;
  display: block;
  line-height: 150px;
}
.galleryitem p {
  max-width: 150px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  word-wrap: break-word;
}
.galleryitem p a {
  border-radius: 0px 0px 10px 10px;
  background-color: #eef;
  display:table-cell;
  margin: 2px;
  padding: 3px;
  color: #035;
  height: 4em;
  width: 150px;
  vertical-align: middle;
}
.galleryitem p a:hover {
  text-decoration: none;
}
.galleryitem p.new a {
  background-color: #efe;
}
.galleryitem progress {
  height: 15px;
  margin: 23px 0px;
  width: 130px;
}

table.bioitem {
  border: solid #cce 2px;
  margin: 5px;
  padding: 6px;
  min-width: 162px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
table.bioitem td {
  height: 0px;
}
table.bioitem td.img {
  width: 0px;
  padding-right: 10px;
}
table.bioitem p {
  text-align: left;
}
table.bioitem p.bio {
  height: 110px;
  width: 100%;
}
table.bioitem p a {
  background-color: #eef;
  display: block;
  margin: 2px;
  padding: 6px 3px 6px 6px;
  font-size: 18px;
  color: #157;
}

.galleryitem div.link input {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  display: inline-block;
}
.galleryitem div.link {
  min-width: 150px;
  min-height: 150px;
  display: block;
  line-height: 150px;
}
.galleryitem div.input input {
  max-width: 140px;
  text-align: center;
}
.galleryitem div.input {
  background-color: #EEF;
  display: table-cell;
  margin: 2px;
  padding: 3px;
  color: #035;
  height: 4em;
  width: 150px;
  vertical-align: middle;
}

.item {
  padding: 10px 20px 30px 20px;
  margin-top: 10px;
  margin-left:-20px;
  margin-right:-20px;
  margin-bottom:-55px;
  color:#333;
}

.item .image {
  background-color:#111;
  background-image: linear-gradient(to bottom, #2E2E2E 0%, #0E0E0E 5%);
  padding: 50px 35px 0px 35px;
  line-height: 0px;
  text-align:center;
  border-radius: 10px 10px 0 0;
}

.item .image img {
  background-color: white;
  max-width: 780px;
  padding: 10px;
  margin: 0px;
  border:none;
  border-radius: 10px 10px 0 0;
}

.item .desc {
  padding: 25px 20px 4px 20px;
  background-color: #DCDCDC;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ECECEC 30%);
  border-radius: 8px;
  min-height: 300px;
  margin-right: 235px;
}
.item .desc textarea {
  width: 100%;
  height: 300px;
}
.item .desc p.descerr textarea {
  border: 2px #d00 solid;
}

.item h2 {
  padding-bottom:7px;
  color:#333333;
}

.item .buttonbar {
  color:#333333;
  clear:both;
  padding:10px 0px;
  overflow:hidden;
  height: 60px;
}
.item .buttonbar form{
float:left;
}

.item .buttonbar button{
cursor:pointer;
}

.item .buttonbar button:hover{
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .20); 
  z-index: 1;
}

.item .buttonbar button{
  z-index: 0;
  position: relative;
  float:left;
  padding:4px 8px;
  background:#ffffff;
  border: 1px solid #999;
  border-right: 0px;
  color:#333;
  font-size:17px;
  line-height:23px;
  margin:0px;
}
.item .buttonbar button#like,
.item .buttonbar button#dislike{
background-image: url("../images/thumbs.svg");
background-repeat:no-repeat;
background-size: 20px 120px;
width:40px;
}
.item .buttonbar form button#like{
background-position:center -61px;
}
.item .buttonbar form button#dislike{
background-position:center -90px;
}
.item .buttonbar form button#like:hover,
.item .buttonbar button#like.active{
background-position:center 4px ;
}
.item .buttonbar form button#dislike:hover,
.item .buttonbar button#dislike.active{
background-position:center -25px;
}
.item .buttonbar button.active{
  color:#D55500;
}
.item .buttonbar button.active:hover {
  box-shadow: none;
  cursor: default;
}
.item .buttonbar button.start{
 border-top-left-radius: 9px;
 border-bottom-left-radius: 9px;
 margin-left:5px;
}
.item .buttonbar button.end{
 border-top-right-radius: 9px;
 border-bottom-right-radius: 9px;
 border-right: 1px solid #999;
 margin-right: 5px;
}
.item .buttonbar button.unique{
 background-color:#D55500;
 border-color:#D44400;
 color:#FFFFFF;
}
.item .buttonbar button.unique:hover{
  box-shadow: 0px 0px 3px 3px rgba(255, 128, 0, .35); 
}
.item .sideInfo{
  padding: 15px 0px 0px 5px;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ECECEC 30%);
  overflow:hidden;
  margin-bottom:-15px;
  min-height: 315px;
  float: right;
  border-radius: 0px 0px 8px 8px;
}
.item .sideInfo .link {
  display: block;
  position: relative;
  top: -44px;
  left: 170px;
  height: 0px;
}

.item .sideInfo h1 {
  background-color: #ddd;
  border-radius: 8px 0px 0px 8px;
  padding:8px 12px;
  margin-top: 4px;
  font-size:22px !important;
  font-weight: bold;
  line-height:22px;
  text-align: center;
  width:200px;
  white-space:wrap;
  text-align:left;
}
.item .sideInfo h1.error {
  background-color: #e66;
}
.item .sideInfo input,
.item .sideInfo select {
  width: 217px;
}
.item .sideInfo dl{
  font-size:15px;
  line-height:17px;
  width:100%;
  overflow:hidden;
  padding:8px 12px;
  margin:0px 0px 7px 0px;
}
.item .sideInfo dd{
  float:left;
  margin:0px;
}
.item .sideInfo dt{
  padding:0px;
  clear:left;
  float:left;
  margin-right:8px;
  color:#888;
}

.item .license{
    margin-left:8px;
}

.empty a.link > img {
  opacity: 0.5;
}
.unpublished {
  border-color: #e58;
}
.unpublished .label {
  background-color: #fdd;
  border-radius: 0px 0px 8px 8px;
  border: 2px #e58 solid;
  text-align: center !important;
}
.unpublished .label a {
  height: 0.5em;
  padding: 3px;
  line-height: 100%;
}
.galleryitem .label {
  width: 148px;
  visibility: hidden;
  position: absolute;
  text-align: right;
}
.galleryitem:hover .label {
  visibility: visible;
}
.galleryitem .label img {
  position: relative;
  right: -4px;
  float: left;
}
.galleryitem .label img.l {
  float: right;
  left: -4px;
}

.text {
  border: 2px solid #fff;
  line-height: 16px;
}
.text #lines {
  float: left;
  color: #777;
  text-align: right;
}

.text pre {
  margin: 5px;
  padding: 0px;
}

