/**** resets ****/

body, p, h1, h2, h3, h4, ol, ul, li, form, input, table, td, th, fieldset, pre {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing:0;
}
image {
  border: 0;
}
ul, ol {
  list-style: none;
}

ul {
  padding: 5px 0 5px 20px ;
  list-style-type: disc;
}
ol {
  padding: 5px 0 5px 25px ;
  list-style-type: decimal;
}

hr {
  border-width: 0 0 1px 0;
  border-color: #dfe5e7;
  border-style: solid;
}


body, p, h1, h2, h3, h4, ol, ul, li, form, input, table, td, th, fieldset, pre {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-align: left;
  color: #3f4547;
}

a {
  text-decoration: none;
  color: #1c83b5;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: normal;
  padding: 9px 0;
}

h1 {
  font-size: 20px;
  line-height: 26px;
}

h2 {
  font-size: 18px;
  line-height: 26px;
}

h3 {
  font-size: 16px;
  line-height: 22px;
}

h4 {
  font-size: 14px;
  line-height: 22px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.page-center-wrap {
  text-align: left;
}
.page-center-content {
  text-align: center;
  margin: 0px;
  margin: auto;
  width: 1000px;
}

.clear {
  clear: both;
}

body {
  background-color: #dee1e2;
}


/**** header ****/

#header {
  background-color: #26292b;
  color: #ffffff;
  border-radius: 0px 0px 6px 6px;
  margin-bottom: 20px;
}

#title {
  text-align: left;
  padding: 12px 25px 8px 14px;
}
#title img {
  float: left;
}
#title img#home {
  left: 10px;
  top: 10px;
  position: absolute;
  opacity: 0.5;
}
#title img#home:hover {
  opacity: 1;
}
#title img#brand {
  position:relative;
  width: 48px;
  height: 48px;
  padding-right: 8px;
  top: -6px;
}

#title a {
  color: #ffffff;
  text-shadow: 1px 1px 0 #000000;
  font-size: 18px;
  text-decoration: none;
}

#navigation ul {
  float: right;
  padding: 3px 0 0 0;
  margin: 9px 0 0 0;
  list-style: none;
}

#navigation li {
  float: left;
  margin: 0 10px;
}

#navigation li a {
  color: #ffffff;
  text-shadow: 1px 1px 0 #000000;
  font-weight: bold;
  padding: 7px 25px 5px 25px;
}

#navigation li.active a, #navigation li a:hover {
  background-color: #4d5558;
  text-shadow: 1px 1px 0 #26292b;
  border-radius: 11px;
  text-decoration: none;
}

#navigation li.feed-link a {
  background: none;
  border: none;
  padding: 0;
  margin: 0 10px 0 30px;
}

#navigation li.feed-link a img {
  border: none;
}

/* text box in navigation */
#navigation li input {
  height: 15px;
  width: 100px;
  padding: 2px 4px;
  margin-top: 0px;
  position: relative;
  top: -2px;
  border-radius: 7px;
}


/**** actions ****/

#actions {
  margin-bottom: 1px;
}

#actions ul {
  padding: 0 25px;
  margin: 0;
  list-style: none;
}

#actions li {
  float: left;
  margin: 0 2px 0 0;
  padding: 8px 0;
}

#actions li a {
  color: #ffffff;
  text-shadow: 1px 1px 0 #6e797d;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  background-color: #959ea2;
  border-radius-topleft: 6px 6px 0px 0px;
}

#actions li a:hover {
  text-shadow: 1px 1px 0 #51595c;
  background-color: #6d787c;
}


/**** content ****/

#content-wrap {
  clear: both;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 25px;
}

#content {
  padding-right: 250px;
}


/**** sidebar ****/

#sidebar {
  float: right;
  width: 235px;
}

#sidebar h4 {
  font-weight: bold;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 12px;
}

#sidebar li {
  padding: 2px 4px 2px 15px;
  margin-bottom: 1px;
  border-radius: 11px;
}
#sidebar li span {
  background-color: #3a95c4;
  color: white;
  float: right;
  border-radius: 11px;
  display: inline-block;
  padding: 0px 8px 0px 8px;
}

#sidebar li a {
  text-decoration: none;
  color: #798488;
}

#sidebar li.active,
#sidebar li.active:hover {
  background-color: #e7e9ea;
}
#sidebar li:hover {
  background-color: #f4f5f7;
}
#sidebar li.active span {
  background-color: white;
  color: #3f4547;
}

#sidebar li.active a {
  text-shadow: 0 1px 0 #ffffff;
  color: #3f4547;
}
#sidebar li:hover a {
  color: #3f4547;
}
#sidebar input {
  width: 100%;
  border-radius: 11px;
  padding-left: 8px;
  margin-bottom: 12px;
}

/**** other ****/

.avatar img {
  border: none;
  padding: 1px;
  border: 1px solid #cbcfd1;
}


/**** footer ****/

#footer {
  padding: 20px 40px;
}

#footer p {
  float: right;
  font-size: 11px;
  color: #989898;
  text-shadow: 0 1px 0 #ffffff;
}


/**** index ****/

#bug table.list td {
  padding: 10px 15px;
}

#bug td.details p {
  margin-top: 3px;
}

#bug td.votes {
  font-size: 32px;
  width: 40px;
  font-weight: bold;
}

#bug td.votes div {
  text-align: center;
  padding: 10px 7px;
  min-width: 35px;
  border-radius: 6px;
  background-color: #f2f2f2;
}


#bug td.bug-private {
  color: #ff0000;
  background-color: #ffcccc;
  font-weight: bold;
}

.bug-status {
  font-weight: normal;
  font-size: 11px;
  padding: 2px 7px;
  border-radius: 3px;
  vertical-align: middle;
  background-color: #d2f4f6;
  color: #326c6f;
}

.bug-comments {
  margin-right: 10px;
  font-size: 11px;
}
.bug-user,
.bug-date {
  font-size: 11px;
  color: #727c82;
}
#bug td.details p img, #bug p .bug-user img {
  vertical-align: middle;
}
#bug td.details p .avatar, #bug p .bug-user .avatar {
  margin: 0 5px;
}

.bug-type {
  border-radius: 3px;
  padding: 3px 8px;
  color: #ffffff;
  font-size: 9px;
  text-transform: uppercase;
  background-color: #219da4;
}

#bug span.highlighted {
  background-color: #FF0;
}

/**** detail ****/


#bug div.votes {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 15px 7px 10px 7px;
  border-radius: 6px;
  background-color: #f2f2f2;
  float: left;
  margin-right: 25px;
}

#bug p.num-votes {
  font-size: 10px;
  text-align: center;
  color: #747474;
  margin: 5px 0;
}

#bug #vote-down {
  margin-right: 2px;
}

#bug #vote-up, #bug #vote-down {
  float: left;
}

#bug #vote-up input,
#bug #vote-down input {
  padding: 5px 8px;
  text-align: center;
  background-color: #b1b8bb;
  text-shadow: 1px 1px 0 #7a868b;
  font-size: 140%;
}



#bug-detail-heading {
  margin: 0;
  padding: 10px 0 0 0;
}

#bug-detail-heading .bug-type {
  margin-right: 10px;
  vertical-align: middle;
}



.message.staff .staff {
  float: left;
  clear: left;
  padding-left: 10px;
  color: #747474;
  font-size: 11px;
}

.message.staff {
  background-color: #f1fbff;
}


/*** pagination ***/

.pagination {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  color: #828282;
}
.pagination .current {
  margin: 0 20px;
}

#pagination-last-page {
  margin-left: 20px;
}

#pagination-first-page {
  margin-right: 20px;
}

#pagination-last-page, #pagination-first-page {
  color: #999999;
}


/****** lists *******/

table.list {
  width: 100%;
}
table.list h3 {
  font-size: 16px;
  line-height: 16px;
  padding: 0;
}

table.list tr {
  border-width: 1px 0;
  border-color: #f0f1f2;
  border-style: solid;
}
table.list.list-all .closed {
  text-decoration: line-through;
}

table.list td {
  padding: 8px 15px;
  color: #4b4b4b;
}
table.list td.details {
  width: 100%;
}

table.list td img {
  vertical-align: middle;
}

table.list td.title a {
  font-size: 16px;
  font-weight: bold;
}

/**** forms ****/

#id_honeypot {
  display: none;
}

form table {
  width: 100%;
}

textarea {
  width: 70%;
}

input[type="text"], input[type="password"], textarea {
  border: 1px solid #d5dde0;
  padding: 4px;
  font-size: 14px;
  background-color: #fbfbfb;
  border-radius: 4px;
  width: 400px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  border-color: #c2e395;
}

input[type="submit"] {
  border: none;
  padding: 5px 15px;
  font-size: 12px;
  background-color: #69b500;
  text-shadow: 1px 1px 0 #457800;
  color: #ffffff;
  border-radius: 11px;
}

input[type="submit"]:hover {
  background-color: #73c700;
}

input[type="submit"]:active {
  background-color: #599900;
}

form td.label {
  width: 200px;
}

form td {
  padding-bottom: 5px;
}

form td.label .form-help, .help-text {
  font-size: 11px;
  color: #999999;
  line-height: 12px;
}

form td.field-error input, form td.field-error textarea {
  border-color: #ff8b8b;
}

form td.label .required {
  font-size: 10px;
  color: #999999;
  padding-left: 5px;
}

.form-errors {
  color: #ff0000;
  padding: 4px 0 2px 0;
  font-size: 11px;
  line-height: 10px;
}

.form-errors ul {
  padding: 0;
  list-style: none;
}
.form-errors li {
  color: #ff0000;
  font-size: 11px;
  line-height: 10px;
}

.form-cancel {
  margin-left: 15px;
}

/***** comments *****/
div.message .avatar {
  float: left;
  padding: 10px 4px 4px 4px;
  vertical-align: text-bottom;
  line-height: 0;
}
div.message .content {
}
div.message .content h2 {
  padding: 0;
  line-height: 22px;
}
div.message .content .details {
  padding: 0 0 5px 0;
  font-size: 11px;
  font-weight: normal;
  color: #888888;
  vertical-align: top;
  line-height: 11px;
  text-align: left;
}
div.message {
  border-width: 0 0 1px 0;
  border-color: #d9d9d9;
  border-style: solid;
  padding: 5px 0 0 0;
}
div.message-content {
  padding: 10px 40px 10px 100px;
}

.comment .details {
  text-align: left;
}

div.error {
  border: 2px solid #FCC;
  border-radius: 8px;
  background-color: #FEE;
  padding: 7px;
  font-size: 130%;
  margin: 10px 0px;
  font-weight: bold;
  color: #B22;
}

form.search img {
  float: right;
  position: relative;
  top: -35px;
  left: 6px;
}
