{% load i18n %}

    <tr class="{{ field.html_name }}">
        <td class="label">{{ field.label_tag }}{% if field.field.required %} <span class="required">({% trans "required" %})</span>{% endif %}
        <div class="form-help">{% if field.help_text %}{{ field.help_text }}{% endif %}</div>
        </td>
        <td class="field{% if field.errors %} field-error{% endif %}">{{ field }}
        {% if field.errors %}<div class="form-errors">{{ field.errors }}</div>{% endif %}
        </td>
    </tr>
