{% if is_paginated %}
{% load i18n %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}" class="prev">&larr;</a>
    {% else %}
        <span class="disabled prev">&lsaquo;</span>
    {% endif %}
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page">{% trans "Page" %} {{ page }} {% trans "of" %} {{ paginator.num_pages }}</span>
            {% else %}
                <!--<a href="?page={{ page }}{{ getvars }}" class="page">{{ page }}</a>-->
            {% endifequal %}
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}" class="next">&rarr;</a>
    {% else %}
        <span class="disabled next">&rsaquo;</span>
    {% endif %}
  </span>
</div>
{% endif %}
