{% extends "base.html" %}
{% load i18n %}

{% block "head" %}
<style>
  img {
    float: left;
    padding-right: 20px;
  }
  p {
    text-align: justify;
    padding-bottom: 13px;
  }
  div#about {
    padding-top: 30px;
    min-height: 300px;
  }
</style>
{% endblock %}

{% block "content" %}

<div id="about">
<img src="{{ STATIC_URL }}images/mascot.svg" title="I Like eating bugs, *nom* *nom*"/>
<h1>{% block "title" %}{% trans "About Project Motte" %}{% endblock %}</h1>
<p>
Project Motte is born from the desperate need to upgrade bug tracking software from old complex designs like Bugzilla, into something more modern. This includes being pleasing to the eye, but also design for ease of use for both users of your product and quality assurance personel or volunteers.
</p>

<p>This isn't achieved by inventing a new bug tracking website product, with it's own new database. This website wraps around your existing Buzilla database backend and allows the safe decomissioning of the old perl based components once proper training and user migration has had chance to succeed. With no syncing, both this website and your existing Bugzilla deployment should continue to function together at the same time.</p>

<h1>Project Home</h1>

<p>The project is currently hosted on GitHub and you may want to clone the repository directly to get the latest version.</p>

</div>


{% endblock %}
