<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% load i18n %}
  <head>
    <title>{% block "title" %}Index{% endblock %}{% block title_default %} | Motte Bug Tracker{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/icon.png" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bug.css" />
    <link rel="stylesheet" type="text/css" href="{% url 'tag_css' %}" />

    <link rel="alternate" type="application/rss+xml" title="{% trans "Latest feedback" %}" href="/feeds/feedback/" />

    {% block "head" %}{% endblock %}
  </head>

  <body id="{% block sectionid %}generic{% endblock %}">
    <div class="page-center-wrap">
      <div class="page-center-content">
        <div id="header">
          <div id="navigation">
            <ul>
              {% if user.is_authenticated %}
                <li{% if reporter == user %} class="active"{% endif %}><a href="/~{{ user.username }}">{% trans "Profile" %}</a></li>
                {% if request.user.is_staff %}
                  <li><a href="/admin/">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
              {% elif not form.username %}
              <li>
                <form method="post" action="{% url 'login' %}">
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.get_full_path }}"/>
                  <input type="text" name="username" placeholder="Email Address"/>
                  <input type="password" name="password" placeholder="Password"/>
                  <input type="submit" style="position: absolute; top: -40px; width: 0px; height: 0px;"/>
                </form>
              </li>
              {% endif %}
              {% if rss_url %}
              <li class="feed-link"><a href="{{ rss_url }}" title="{% trans "Subscribe to this page's RSS Feed" %}">
                <img src="{{ STATIC_URL }}images/rss.png" alt="RSS" /></a>
              </li>
              {% endif %}
            </ul>
          </div>
          <div id="title">
            {% if product %}
              {% if component and product.extra.pub_comp %}
                <a href="{{ product.get_absolute_url }}"><img src="{{ STATIC_URL }}images/back.svg" title="All Projects" id="home"/></a>
                <a href="{{ component.get_absolute_url }}"><img src="{{ product.extra.icon_url }}" id="brand" title="{{ product }}"/>
                {{ product }} - {{ component }}</a>
              {% else %}
                <a href="{% url "home" %}"><img src="{{ STATIC_URL }}images/back.svg" title="All Projects" id="home"/></a>
                <a href="{{ product.get_absolute_url }}"><img src="{{ product.extra.icon_url }}" id="brand" title="{{ product }}"/>
                {{ product }}</a>
              {% endif %}
            {% else %}
              <a href="{% url "home" %}"><img src="{{ STATIC_URL }}images/logo.svg" id="brand" title="Welcome to Motte"/>
              {% trans "Motte Bug Tracker" %}</a>
            {% endif %}
          </div>
        </div>
        <div id="actions">
          <ul>
            {% block "actions" %}{% endblock %}
          </ul>
          <div class="clear"></div>
        </div>
        <div id="content-wrap">
          {% if messages %}
            <div id="alert-messages">
              <ul>
                {% autoescape off %}
                  {% for message in messages %}
                    <li>{{ message|urlize|linebreaksbr|safe }}</li>
                  {% endfor %}
                {% endautoescape %}
              </ul>
            </div>
          {% endif %}
          {% block "fullpage" %}{% endblock %}
        </div>
        <div id="footer">
          <p>Project <a href="{% url "about" %}">Motte</a> by <a href="http://divajutta.com/doctormo/">Martin Owens</a> - AGPLv3 Free Software Project</p>
        </div>
      </div>
    </div>
  </body>
</html>
