{% extends "side_base.html" %}

{% load i18n pagination_tags %}

{% block "content" %}
  {% autopaginate object_list 50 as items %}
  <!--<h1>{% block "title" %}{% block "listtitle" %}List{% endblock %}{% endblock %}</h1>-->

  {% if items %}
    <table class="list" id="bug">
    {% block "header" %}{% endblock %}
    {% for result in items %}
     {% with result.object as item %}
      {% block "item" %}{{ item }}{% endblock %}
     {% endwith %}
    {% endfor %}
    </table>
  {% else %}
    {% block "noitems" %}{% endblock %}
  {% endif %}

  {% paginate %}
{% endblock %}


{% block "sidebar" %}
  {% if object_list or query %}
  <form class="search" method="get" action="{{ url }}">
   <input type="text" name="q" value="{{ query|default:'' }}" placeholder="Search"/>
   {% if query %}
   <a href="{{ clear_url }}"><img title="{% trans "Clear Search" %}" src="{{ STATIC_URL }}images/clear.svg"/></a>
   {% endif %}
  </form>
  {% endif %}
  {% for category in categories %}
    {% if category.count > 1 %}
      <h4>{{ category }}</h4>
      <ul>
        {% for item in category %}
         {% if item.count %}
          {% if category == item %}
            <li class="active"><a>{{ item }}<a/></li>
          {% else %}
            <li><a href="{{ item.url }}">{{ item }}</a><span>{{ item.count }}</span></li>
          {% endif %}
         {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endblock %}

