{% extends "base.html" %}

{% block "fullpage" %}
  <div id="sidebar">{% block "sidebar" %}{% endblock %}</div>
  <div id="content">
    {% block "content" %}<h1>No Content</h1>{% endblock %}
    <div class="clear"></div>
  </div>
{% endblock %}

