

{% extends "djangovoice/feedback_base.html" %}

{% block title %}Feedback{% endblock %}
{% block location %}Feedback{% endblock %}

{% block content %}
<h1>Feedback</h1>

<form action="{% url 'djangovoice_submit' %}" method="post">
{% csrf_token %}
<table>
{% for field in form %}
    {% include "djangovoice/includes/fields.html" %}
{% endfor %}
    <tr>
        <td></td>
        <td><br /><input type="submit" value="Submit" /></td>
    </tr>

</table>
</form>
{% endblock %}
