{% extends "base.html" %}
{% load i18n %}

{% block "content" %}

<h1>{% trans "Login to Your Account" %}</h1>

{% if form.errors %}
<div class="error">{% trans "Your username and password didn't match. Please try again." %}</div>
{% endif %}


<form method="post" action="{% url "login" %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="{% trans "Login" %}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<div class="error">Note: We should allow social-auth here, so people can join/register via a simple form or from a social-auth connection.</div>

{% endblock %}
